.travis.yml
.swagger-codegen-ignore
tox.ini
test-requirements.txt
setup.py

# Byte-compiled / optimized / DLL files
*$py.class

# Distribution / packaging
.Python
env/
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
venv/
ve/
.python-version

# Translations
*.mo
*.pot

# Sphinx documentation
docs/

# PyBuilder
target/

#Ipython Notebook
.ipynb_checkpoints

# PyCharm
.idea/

.swagger-codegen/

# Prism mocking tool
prism

# Swagger codegen tool
swagger-codegen-cli-*.jar
