# GIT requirements
-e git+https://github.com/girleffect/core-shared@1.1.0#egg=core-shared

connexion == 1.1.15
python_dateutil == 2.6.0
setuptools >= 21.0.0
uWSGI >= 2.0.17, < 3.0

# DB related
Flask-SQLAlchemy==2.3.2
SQLAlchemy==1.2.2
psycopg2==2.7.3.2
Flask-Migrate==2.1.1
Flask-Script==2.0.6
raven[flask]==6.6.0
prometheus-client==0.3.1

# The following requirements are required by jsonschema
# in order to do proper validation of certain formats.
rfc3987
strict-rfc3339

